{% extends "core/base.html" %}

{% block content %}

{% include "core/navbar.html" %}

<header class="bg-white">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">
            Portfolio
        </h1>
    </div>
</header>
<main>
    <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="flex flex-col gap-5">
            {% for project in project_list %}
            <div>
                <a href="{% url 'portfolio:project_detail' project.slug %}" class="text-blue-500 text-2xl font-bold underline">
                    {{project.name}}
                </a>
            </div>
            {% endfor %}
        </div>

    </div>
</main>

{% endblock content %}
