{% extends "blog/base.html" %}

{% block blog_content %}

<header class="bg-white">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">
            Blog posts for {{tag.name}} tag
        </h1>
    </div>
</header>
<main>
    <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">

        <div class="flex mb-10">
            <input placeholder="Search..." class="px-1.5 py-1 border border-gray-400 rounded w-1/2" />
        </div>

        {% include "blog/post_list.html" %}

    </div>
</main>

{% endblock blog_content %}
