{% extends "core/base.html" %}

{% block content %}

{% include "core/navbar.html" %}

<main>
    <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">

        <div class="grid grid-rows-2 grid-flow-col gap-4">
            <a class="flex justify-center rounded-md shadow-sm ring-1 ring-inset ring-gray-300 py-4 px-3 hover:bg-stone-100" href="#">
                <h1 class="font-bold text-2xl">Heading 1</h1>
            </a>
            <a class="flex justify-center rounded-md shadow-sm ring-1 ring-inset ring-gray-300 py-4 px-3 hover:bg-stone-100" href="#">
                <h1 class="font-bold text-2xl">Heading 2</h1>
            </a>
            <a class="flex justify-center rounded-md shadow-sm ring-1 ring-inset ring-gray-300 py-4 px-3 hover:bg-stone-100" href="#">
                <h1 class="font-bold text-2xl">Heading 3</h1>
            </a>
            <a class="flex justify-center rounded-md shadow-sm ring-1 ring-inset ring-gray-300 py-4 px-3 hover:bg-stone-100" href="#">
                <h1 class="font-bold text-2xl">Heading 4</h1>
            </a>
            <a class="flex justify-center rounded-md shadow-sm ring-1 ring-inset ring-gray-300 py-4 px-3 hover:bg-stone-100" href="#">
                <h1 class="font-bold text-2xl">Heading 5</h1>
            </a>
            <a class="flex justify-center rounded-md shadow-sm ring-1 ring-inset ring-gray-300 py-4 px-3 hover:bg-stone-100" href="#">
                <h1 class="font-bold text-2xl">Heading 6</h1>
            </a>
        </div>
    </div>
</main>

{% endblock content %}
