<footer class="bg-gray-50 border-t py-10 text-sm">
    <div class="mx-auto max-w-7xl">
        <div class="flex justify-evenly">
            <div class="text-center">
                <p>© 2020-{% now "Y" %}</p>
                <a href="https://zakariyaoulhadj.com" class="underline">
                    zakariyaoulhadj.com
                </a>
            </div>
            <div>
                <ul>
                    <li>
                        <a href="https://linkedin.com/in/zoulhadj/" class="hover:underline text-blue-500 active:text-orange-500 visited:text-purple-500" target="_blank">
                            LinkedIn
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/zoulhadj" class="hover:underline text-blue-500 active:text-orange-500 visited:text-purple-500" target="_blank">
                            GitHub
                        </a>
                    </li>
                    <li>
                        <a href="https://instagram.com/zoulhadj" class="hover:underline text-blue-500 active:text-orange-500 visited:text-purple-500" target="_blank">
                            Instagram
                        </a>
                    </li>
                </ul>
            </div>
            <div class="">
                <p class="w-[150px]">
                    Interested in high performance computing and writing
                    efficient software.
                </p>
            </div>
        </div>
    </div>
</footer>
