<div class="border-b border-stone-100">
    <div class="mx-auto max-w-7xl">
        <div class="flex justify-center items-center gap-5 py-1">
            <a href="{% url 'core:index' %}" class="text-blue-500 hover:underline active:text-orange-500 visited:text-purple-500">
                Home
            </a>
            <a href="{% url 'blog:index' %}" class="text-blue-500 hover:underline active:text-orange-500 visited:text-purple-500">
                Blog
            </a>
            <a href="{% url 'portfolio:index' %}" class="text-blue-500 hover:underline active:text-orange-500 visited:text-purple-500">
                Portfolio
            </a>
            {% comment %}
            <a href="{% url 'gallery:index' %}" class="text-blue-500 hover:underline active:text-orange-500 visited:text-purple-500">
                Gallery
            </a>
            {% endcomment %}
        </div>
    </div>
</div>
